
:root {
    --main-brown-font: #886750;
    --main-dark-brown-font: #51280B;
    --main-light-grey-font: #2B2B2B;
    --main-white-font: #F6F0EB;
    --main-green: #88C624;
    --main-yellow: #FFC700;
    --main-grey: #F8F8F8;
    
    }