:root {
    --main-brown-font: #886750;
    --main-dark-brown-font: #51280B;
    --main-light-grey-font: #2b2b2b8c;
    --main-dark-grey-font: #2b2b2bcb;
    --main-white: #F6F0EB;
    --main-green: #88C624;
    --main-yellow: #FFC700;
    --main-grey: #F8F8F8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;

}

/* font-family: "Syne", sans-serif; */
/* font-family: "Work Sans", sans-serif; */

p {
    font-size: 16px;
}

img {
    width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

.title {
    font-size: 32px;
    color: var(--main-brown-font);
    font-weight: 300;
    text-align: center;
    margin: 20px auto;
}

.desktop994 {
    display: block;
}

.mobile994 {
    display: none;
}

.desktop768 {
    display: block;
}

.mobile768 {
    display: none;
}

/* header */
header {
    margin-top: 40px;
}

header img {
    width: 10%;
    display: block;
    margin: auto;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 40px auto;
}

header ul li a {
    font-family: "Syne", sans-serif;
    color: var(--main-brown-font);
    font-weight: 600;
}

/* hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 500px;
    align-items: stretch;
    column-gap: 10px;
}

.hero-first-background {
    background-color: var(--main-white);
    margin-bottom: 10px;
    height: 100%;

    height: calc(100% - 50px);
    border-radius: 20px;


}

.hero-first h3 {
    font-weight: 300;
    font-size: 26px;
    color: var(--main-brown-font);
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    height: 100%;

}

.hero-first-img {
    position: relative;

}

.hero-text {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    line-height: 1.1;
    color: var(--main-white);
    font-size: 21px;
    font-weight: 300;
}

.hero-text h4 {
    font-size: 33px;
    text-transform: uppercase;
    margin-top: 6px;
}

.hero-images img:nth-child(1) {
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}

.hero-last img {
    margin-left: -40px;
}

.hero-last p {
    color: var(--main-brown-font);
    font-size: 14px;
    text-align: center;
}

.cta {
    display: block;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    color: var(--main-dark-brown-font);
    font-weight: 700;
    background-color: var(--main-yellow);
    width: 50%;
    text-align: center;
    padding: 15px;
    border-radius: 9px;
    margin: auto;
    margin-top: 15px;
    box-shadow: -10px 0px 8.6px -6px rgba(43, 43, 43, 0.58);

}

.hero-first,
.hero-last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* about */
.about {
    margin: 50px auto;
}

.palm {
    width: 40px;
    margin: auto;
    display: block;
    mix-blend-mode: multiply;

}

.sub-title {
    color: var(--main-white);
    background-color: var(--main-green);
    text-align: center;
    padding: 8px 0;
    font-weight: 300;
    font-style: italic;
}

.about-table {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    margin: 40px auto;
}

.table {
    border: var(--main-brown-font) 2px solid;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 50px;
    padding-right: 70px;
    margin: 40px auto;
}

.table-div {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 25px;

}

.table-div:nth-child(1) {
    border-bottom: var(--main-brown-font) 1px solid;
    border-right: var(--main-brown-font) 1px solid;

}

.table-div:nth-child(2) {
    border-bottom: var(--main-brown-font) 1px solid;
    padding-left: 40px;

}

.table-div:nth-child(3) {
    border-right: var(--main-brown-font) 1px solid;

}

.table-div:nth-child(4) {

    padding-left: 40px;
}

.table-div p {
    color: var(--main-brown-font);
    font-size: 18px;
    line-height: 1.4;
}

.check {
    width: 15px;
    margin-top: -15px;
}

.product-with-coconut {
    margin: auto;
    margin-left: -250px;

}


/* why-nudy */

.why-nudy-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.why-nudy-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.why-nudy-content img {
    width: 80px;
    margin-right: 35px;

}

.why-nudy-text {
    color: var(--main-brown-font);
    line-height: 1.4;
    width: 65%;
    font-weight: 300;
}

.why-nudy-text h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

/* blue-banner */

.blue-banner {
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    gap: 25px;
    margin: 60px auto;
}


.blue-banner-text {
    background-color: #F3F7FD;
    color: #70A3C1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}



.blue-banner-text p {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 300;

}

.blue-banner-text h3 {
    font-size: 50px;
    font-weight: 800;
}

/* coconuts */

.coconuts-div {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.coconuts-div img {
    width: 140px;

}

.coconuts-div p {
    color: var(--main-brown-font);
    font-size: 37px;
    width: 100;
    text-transform: uppercase;
    line-height: 1.2;
}

.width {
    width: 13%;
    margin: 30px auto;
    line-height: 1.2;
}

/* phases */

.phases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 70px auto;
    column-gap: 40px;
}

.phase-text {
    color: var(--main-brown-font);
    background-color: #FAF7F4;
    padding: 30px 25px;
    border-radius: 30px;
    height: 50%;
    line-height: 1.3;
}

.phase-text h3 {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--main-brown-font);
    width: 95%;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.phase-text p {
    width: 80%;

}

.phase img {
    width: 40%;
    padding-left: 30px;
    margin-top: -40px;
}


/* revolutionary body wax */
.revolutionary-body-wax {
    margin: 100px auto;
    margin-top: 200px;
}

.revolutionary {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}


.revolutionary-text {
    background-color: var(--main-grey);
    color: var(--main-light-grey-font);

    padding: 30px 50px;
    border-radius: 20px;
    padding-right: 70px;
}


.revolutionary-text img {
    width: 25px;
    text-align: center;
    position: relative;
    left: 100%;
}

.revolutionary-text h3 {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 1.3;

}

.revolutionary-text p {
    width: 80%;
    line-height: 1.5;
}

.big-coconut {
    margin-top: auto;
    margin-left: -150px;
    margin-bottom: -30px;

}


/* zones */

.zones h2 {
    font-size: 32px;
    font-weight: 500;
    color: var(--main-light-grey-font);
    text-align: center;
}

.zones-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.8fr;
    margin: 70px auto;
}

.zone-text {
    padding: 25px 50px;
    background-color: var(--main-grey);
    color: var(--main-light-grey-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    border: 1px solid var(--main-light-grey-font);
    border-radius: 20px;
}

.zone-text h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.zone-text p {
    width: 85%;
    font-size: 15px;
}

.zone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.zones-description {
    display: flex;
    padding: 20px;
    padding-left: 0;
}


.zone li {
    text-align: center;

    width: 85%;
    margin: auto;
    margin-right: 0;


}

.zone-li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zone-li div p {
    display: block;
    background-color: var(--main-grey);
    color: var(--main-light-grey-font);
    border-radius: 20px;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.zone-li div hr {
    width: 30%;

}

.border {
    border: 1px solid var(--main-light-grey-font);

}


.wax-heater {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 30px;
}

.wax-heater div {
    color: var(--main-light-grey-font);
    margin: auto;
}

.wax-heater div p {
    line-height: 1.4;
    width: 80%;
}

.wax-heater div h3 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}



/* instructions */


.instructions {
    background-color: #f6f0eb89;
    border-radius: 30px;
    padding: 40px;
    margin: 40px auto;
    margin-top: 100px;

}

.instructions h2 {
    text-align: center;
    color: var(--main-brown-font);
    font-weight: 300;
    font-size: 33px;
    margin: 25px auto;
    line-height: 1.3;
    text-transform: uppercase;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
}

.step img {
    width: 80%;
    mix-blend-mode: multiply;

}

.step p {
    color: var(--main-brown-font);
    width: 70%;
    line-height: 1.2;
    margin-left: 30px;
    margin-top: 20px;
}

.banner {
    margin: 80px auto;
    position: relative;
}


.banner-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: var(--main-white);
}

.banner-text p {
    font-weight: 300;
    font-size: 23px;
}

.banner-text h3 {
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 10px;
}


.width2 {
    width: 40%;
}

.wax-heater-img {
    margin: auto;
}

/* recommendation */
.recommendation h2 {
    text-align: center;
    font-size: 35px;
    line-height: 1.3;
    color: var(--main-light-grey-font);
    font-weight: 600;
    font-family: "Syne", sans-serif;
    margin-bottom: 25px;

}


.recomm-p {

    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    color: var(--main-light-grey-font);
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.recommendation-img {
    width: 70%;
    display: block;
    margin: 50px auto;
}


.bullets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bullet img {
    width: 130px;
    margin: auto;
    display: block;
}

.bullet p {
    text-align: center;
    color: var(--main-light-grey-font);
    font-size: 15px;
    margin-top: 12px;
}


/* FAQ */

.faq {
    margin: 80px auto;
}

.faq-banner {
    position: relative;
}


.faq-banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FAF7F4;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 1.4;
}




.faq ul {
    margin: auto;
    margin-top: 80px;
    width: 70%;
}


.q {
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;
    border-bottom: 1px solid var(--main-dark-grey-font);
    padding-bottom: 20px;
    color: var(--main-dark-grey-font);
    position: relative;
    margin-top: 20px;

}

.q::after {
    content: "\271A";
    color: var(--main-dark-grey-font);
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    right: 10px;

}

.a {
    display: none;
    background-color: #d9d9d940;
    color: var(--main-dark-grey-font);
    padding: 20px 15px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 40px;
    transition: max-height 2s ease-out;

}

.active::after {
    content: "\268A";
    color: var(--main-dark-grey-font);
    font-size: 16px;
    right: 10px;

}


/* customer-reviews */
.customer-reviews {
    background-color: var(--main-grey);
    padding: 30px 0px;
    color: var(--main-dark-grey-font)
}


.customer-reviews h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(43, 43, 43, 0.76);
    text-align: left;
    line-height: 1.3;

    margin-bottom: 15px;
}

.customer-reviews .rating {
    width: 220px;
    display: block;
    margin-left: 30px;
}

.reviews-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-reviews h2 span {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    display: block;
}

.r-box {
    display: none;
}

.review {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: flex-start;
    column-gap: 20px;
    margin: 20px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(43, 43, 43, 0.58);
}

.review span.initials {
    padding: 13px 10px;
    border-radius: 50%;
    background: #d9d9d9;
    color: rgba(43, 43, 43, 0.76);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review .review-content {
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: start;
    column-gap: 20px;
}

.review .author {
    font-size: 16px;
    margin-top: 5px;
}


.review div p {
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    margin: 10px 0px;
    line-height: 1.3;
}

.review img.sm-rating {
    width: 100px;
    mix-blend-mode: multiply;
    margin-left: -10px;
}

.review .sm-img {
    width: 60px;
}

.review div p b {
    font-weight: bold;
    display: block;
}


#showmorecomments,
#showlesscomments {
    color: rgba(43, 43, 43, 0.76);
    font-size: 12px;
    display: block;
    text-align: left;
    margin: 20px auto;
    padding: 10px;
    transition: .3s;
    font-weight: 500;
}

#showlesscomments {
    display: none;
}

/* disclaimer */
.sm-disclaimer {
    padding: 30px;
    background-color: rgba(217, 217, 217, 0.17);
    font-size: 14px;
    line-height: 1.1;
    color: rgba(43, 43, 43, 0.58);
}

.sm-disclaimer img {
    width: 100px;
}

/* footer */

footer,
.sm-disclaimer {
    margin-top: 30px;
}

footer {
    background-color: rgba(217, 217, 217, 0.17);
    text-align: center;
}

footer .container {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 15px 0px;
    flex-direction: row;
}

footer .logo {
    width: 140px;
}

footer a,
footer p {
    color: var(--main-brown-font);
    font-weight: 500;
    font-size: 14px;
}



footer p {
    margin-bottom: 5px;
    font-weight: 700;
}

footer .contact-links ul {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 40px);
    justify-content: center;
    column-gap: 15px;
}

.useful-links {
    text-align: left;
}

footer .useful-links li {
    margin: 10px 0px;
}

@media screen and (max-width: 2400px) {


    .product-with-coconut {
        margin: auto;
        margin-left: -190px;

    }
}

@media screen and (max-width: 2200px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 400px;
    }

    .product-with-coconut {
        margin: auto;
        margin-left: -120px;
    }


}

@media screen and (max-width: 1900px) {

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .phase-text {
        height: 60%;
    }

    .revolutionary-body-wax {
        margin-top: 150px;
    }


    .revolutionary {
        width: 100%;
    }

    .product-with-coconut {
        margin: auto;
        margin-left: -73px;
    }


}


@media screen and (max-width: 1500px) {
    .container {
        width: 80%;
    }

    .hero-first h3 {
        padding-left: 22px;
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .product-with-coconut {
        margin: auto;
        margin-left: -65px;
    }

    .revolutionary-body-wax {
        margin-top: 110px;
    }

    .steps {
        column-gap: 0px;
        width: 100%;

    }


}


@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .coconuts-div {
        width: 85%;
    }

    .banner-text {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    .revolutionary {
        margin-left: 60px;

    }

    .phases {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 70px auto;
        column-gap: 25px;
    }

    .phase-text {
        height: 65%;
    }

    .revolutionary-body-wax {
        margin-top: 160px;
    }

    .phase img {
        width: 50%;
    }

    .table-div:nth-child(2) {
        border-bottom: var(--main-brown-font) 1px solid;
        padding-left: 20px;
    }

    .table-div:nth-child(4) {
        padding-left: 20px;
    }

    .table-div {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0 13px;
    }

    .table-div p {
        color: var(--main-brown-font);
        font-size: 16px;
    }

    .table {
        border: var(--main-brown-font) 2px solid;
        border-radius: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 23px;
    }



    header ul {
        width: 60%;
    }
}


@media screen and (max-width: 994px) {
    p {
        font-size: 14px;
    }

    header ul {
        width: 70%;
    }

    .desktop994 {
        display: none;
    }

    .mobile994 {
        display: block;
    }


    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }

    .hero-last img {
        margin-left: 0;
    }

    .hero-images img:nth-child(1) {
        width: 100%;
    }

    .hero-images {
        width: 80%;
        margin: auto;
    }

    .width3 {
        width: 25%;

    }

    .background {
        background-image: url(../images/background.png);
        background-size: cover;
        background-repeat: round;
        padding-top: 70px;
    }

    .hero-last {
        mix-blend-mode: multiply;

    }

    .mob-logo {
        background-color: var(--main-brown-font);

    }

    .mob-logo img {
        display: block;
        width: 100px;
        margin: auto;
        padding: 20px 0;
    }

    .header-mobile p {
        color: var(--main-brown-font);
        text-align: center;
        margin-top: 25px;
        line-height: 1.2;
    }

    .header-mobile h1 {
        color: var(--main-brown-font);
        text-transform: uppercase;
        font-size: 36px;
        text-align: center;
        line-height: 1.2;
        margin-top: 13px;
        margin-bottom: 20px;
    }

    .product-with-coconut {
        margin: auto;
        margin-left: -47px;
    }

    .blue-banner-text h3 {
        font-size: 35px;
    }

    .blue-banner-text p {
        font-size: 25px;
        margin-bottom: 8px;
    }

    .coconuts-div img {
        width: 100px;
    }

    .coconuts-div p {
        font-size: 28px;
    }

    .width {
        width: 23%;
    }

    .phases {
        margin: 50px auto;
        column-gap: 15px;
    }

    .phase-text h3 {
        font-size: 17px;
    }

    .phase-text {
        color: var(--main-brown-font);
        background-color: #FAF7F4;
        padding: 20px 17px;
        border-radius: 30px;
        height: 70%;
        line-height: 1.3;
    }

    .revolutionary {
        margin-left: 0;
    }

    .big-coconut {
        margin-top: auto;
        margin-left: -100px;
        margin-bottom: -30px;
    }

    .revolutionary-text h3 {
        font-size: 33px;
        margin-bottom: 20px;

    }

    .zone-text {
        padding: 20px 25px;
    }

    .zones-girl-img {
        margin: auto;
    }

    .zones-grid {
        display: grid;
        grid-template-columns: 0.5fr 0.8fr 0.7fr;
        margin: 70px auto;
    }

    .zone-li div p {
        padding: 8px 5px;
    }

    .wax-heater div h3 {
        font-size: 40px;
    }

    .wax-heater {
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        gap: 5px;
    }

    .banner-text h3 {
        font-weight: 600;
        font-size: 28px;
    }

    .banner-text p {
        font-weight: 300;
        font-size: 19px;
    }

}



@media screen and (max-width: 768px) {


    .desktop768 {
        display: none;
    }

    .mobile768 {
        display: block;
    }

    .about-mobile .sub-title {
        margin: 40px auto 25px auto;
        font-size: 15px;
        padding: 12px 0;
    }


    .about-mobile img {
        width: 70%;
        margin: auto;
        display: block;
    }

    .about .title {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .about .title b {
        font-weight: 300;

    }

    .about .sub-title {
        font-style: italic;
        color: var(--main-brown-font);
        background-color: unset;
        font-weight: 500;
        font-size: 13px;
    }


    .about .sub-title b {
        font-weight: 500;

    }

    .about-table {
        display: block;
        margin: 10px auto;
    }

    .table {
        display: grid;
        grid-template-columns: 1fr;
        border: none;
        margin: 0;
    }

    .table-div {
        border: none !important;
        padding: 20px 40px !important;
        background-color: #f6f0eb89;
        margin-bottom: 18px;
        border-radius: 15px;
    }

    .table-div {
        display: flex;
        align-items: center;
        gap: 35px;
    }


    .check {
        width: 18px;
        margin: auto 0;
    }

    .why-nudy-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
        align-items: end;
        margin-top: -130px;
        /* width: 90%; */
    }

    .why-nudy-mobile a {

        margin: 0;
    }

    .why-nudy-mobile img {
        display: block;
        margin: auto;
        width: 70%;
    }

    .why-nudy-header .title {
        background-color: var(--main-green);
        color: var(--main-white);
        padding: 15px;
        line-height: 1.3;
        font-size: 16px;
        width: 45%;
        margin: 0;
        margin-top: 24px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        padding-left: 40%;
        text-align: left;
    }

    .why-nudy-header .title b {
        display: block;
    }

    .why-nudy {
        margin: 50px auto;
    }

    .why-nudy .q img {
        width: 25px;
        margin: auto 10px;
    }

    .why-nudy .q {
        background-color: var(--main-grey);
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 15px;
        padding: 10px 10%;
        border: none;
        color: var(--main-light-grey-font);
        font-weight: 700;
    }

    .why-nudy .q p {
        margin: auto 0;
    }

    .why-nudy .q::after {
        right: 10%;
        top: 30%;
    }

    .why-nudy .a {
        color: var(--main-light-grey-font);
        background-color: unset;
        width: 65%;
        margin: auto;
        padding-bottom: 5px;
        font-size: 13px;
    }

    .blue-banner {
        /* background-image: url(../images/blue-banner-with-girl-m.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 180px; */
        display: block;

        margin: 25px auto;
        position: relative;
    }

    .blue-banner-text {
        background-color: unset;
        color: var(--main-white);
        padding-left: 10%;
        position: absolute;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);
    }

    .coconuts-div p {
        font-size: 20px;
        color: #68584C;

    }

    .coconuts-div {
        justify-content: space-between;
    }

    .coconuts-div img {

        mix-blend-mode: multiply;
    }

    .coconuts {
        width: 100% !important;
        background-color: var(--main-grey);

    }

    .phases {
        display: block;
    }

    .phase-text {
        background-color: unset;
        color: #68584C;

    }

    .phase-text h4 {
        font-size: 12px;
        font-weight: 400;

    }
    .phases-background {
        background-color: var(--main-grey);

    }
    .phases {
margin: 0 auto;
padding: 30px 0;

    }
    .phase {
        margin-bottom: 10px;

    }

    .phase-text h3 {
        font-size: 15px;
        border-bottom: 1.5px solid var(--main-brown-font);
        padding-bottom: 5px;
        position: relative;


    }

    .phase-text-h3::after {
        content: "\271A";
        color: var(--main-dark-grey-font);
        font-size: 16px;
        font-weight: 300;
        position: absolute;
        /* top: 10px; */
        right: 10px;

    }

    .active2::after {
        content: "\268A";
        color: var(--main-dark-grey-font);
        font-size: 16px;
        right: 10px;

    }

    .phase-p {
        display: none;
        font-size: 13px;
        margin-bottom: 7px;
    }

    .phase-text {
        padding: 0;
    }

    .phases-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin: 15px;
        margin-top: 55px;
    }








}