:root {
    --main-brown-font: #886750;
    --main-dark-brown-font: #51280B;
    --main-light-grey-font: #2B2B2B;
    --main-white-font: #F6F0EB;
    --main-green: #88C624;
    --main-yellow: #FFC700;
    --main-grey: #F8F8F8;
}

body {
    font-family: "Poppins", sans-serif;

}
/* font-family: "Syne", sans-serif; */
p {
    font-size: 16px;
}

img{
    width: 100%;
}

/* header */
header{
    margin-top: 40px;
}
header img{
    width: 10%;
    display: block;
    margin: auto;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 40px auto;
}

header ul li a{
    font-family: "Syne", sans-serif;
    color: var(--main-brown-font);
    font-weight: 600;
}

